body,
html {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}
.card {
  height: 75vh;
  width: 40vh;
  border: 1px solid rgba(0, 0, 0, 0.288);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px black;
  transition: all 0.5s;
  margin: 25px 60px 25px 60px;
  backdrop-filter: blur(54px);
  background-color: rgba(240, 248, 255, 0.856);
}
.container {
  display: flex;
  flex-direction: column;
}
.pic {
  height: 55vh;

  width: 40vh;
}
.img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 20px 20px 0px 0px;
}
.content {
  text-align: center;
  margin-top: 5%;
}
.content h4 {
  font-weight: 300;
}
.content strong {
  font-weight: 600;
}
.content h2 {
  padding-bottom: 2px;
}
button {
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.568);
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: rgb(255, 70, 70);
  transform: scale(1.05);
}
.card:hover {
  transform: scale(1.05);
}
.series {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
